<%- include('header'); -%>
<div class="container">
    <div class="profile">
       <!--- <h2><%= user.name %></h2>
        <span><%= user.email %></span> -->
        <h1>Welcome To All</h1>
        <a href="/logout">Log Out</a>
    </div>
</div>
<%- include('footer'); -%>